
    <table id = "selChar">
        <tr>
            <td>
                Select Character
            </td>
            
            <td>
                <mat-form-field>                
                     <mat-select placeholder="Select Character" [formControl]="formCharControl">

                        <mat-option *ngFor="let char of characterList" [value]="char">
                            {{char}}
                        </mat-option>
                    </mat-select> 
                </mat-form-field>
            </td>

            <td>
                <button mat-raised-button (click)="newChar()">Create character</button>
            </td>
        </tr>
        
    </table>
    <table id="controlTable">
        <TR>
            <TD> D&D SESION 
            </TD>
        </TR>
        <TR>
            <TD>
                <button mat-raised-button (click)="addDice(4);">d4</button>
                <button mat-raised-button (click)="addDice(6);">d6</button>
                <button mat-raised-button (click)="addDice(8);">d8</button>
                <button mat-raised-button (click)="addDice(10);">d10</button>
                <button mat-raised-button (click)="addDice(12);">d12</button>
                <button mat-raised-button (click)="addDice(20);">d20</button>
                <button mat-raised-button (click)="addDice(100);">d100</button>
            </TD>
        </TR>
        <TR>
            <TD>
                <div class="horizontal">
                    <ng-container *ngFor="let dice of selectedDices; let i = index">
                        <mat-card class="mat-elevation-z4 dice" (click)="deleteDice(i)">
                            <mat-card-header>
                                <mat-card-title>{{dice.title}}</mat-card-title>
                            </mat-card-header>
                            <!-- <img mat-card-image src="{{dice.image}}" alt="{{dice.title}}"> -->
                        </mat-card>
                    </ng-container>
                </div>
            </TD>
        </TR>

        <TR>
            <TD>
                <mat-form-field class="tab">
                    <input matInput  type="text" placeholder="Character Name" #name [formControl]="formNameControl">
                </mat-form-field>

                <mat-form-field class="tab">
                    <mat-select placeholder="Select Action" [formControl]="formActionControl">
                        <mat-option *ngFor="let action of actionList" [value]="action">
                            {{action}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="tab">
                    <input matInput  type="text" placeholder="Comment" #comment [formControl]="formCommentControl">
                </mat-form-field>

                <button mat-raised-button (click)="roll()">ROLL!</button>
                <button mat-raised-button (click)="reLoad()"><mat-icon>refresh</mat-icon></button>
            </TD>
        </TR>
    </table>

    <mat-table [dataSource]="[]" class="mat-elevation-z4 main-table">

        <ng-container matColumnDef="player">
            <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="character">
            <mat-header-cell *matHeaderCellDef> Character </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="result">
            <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="comment">
            <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    </mat-table>

    <div style="overflow-y:auto; height: 400px;">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 main-table" *ngIf = " resultsList && resultsList.length >0; else emptyTableDiv">

        <ng-container matColumnDef="player">
            <mat-cell *matCellDef="let tura"> {{tura.user}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="character">
            <mat-cell *matCellDef="let tura"> {{tura.character}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="result">
            <mat-cell *matCellDef="let tura"> {{tura.roll}} </mat-cell>s
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-cell *matCellDef="let tura"> {{tura.action}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comment">
            <mat-cell *matCellDef="let tura"> {{tura.comment}} </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>

<ng-template #emptyTableDiv>
    <div style="height: 3em; width:100%; background-color: gray;"></div>
</ng-template>