#controlTable{
    display: none;
}

table {
    width: 95%;
  }

mat-cell{
    display: flow-root;
}

.dice {
    width: 30px;
    height: 30px;
}

.horizontal {
    width: 800px;
    height: 70px;
    display: flex;
    background-color: lightgray;
    /* justify-content: space-between; */
}

.tab{
    width: 120px;
    margin: 10px;
}

.main-table{
    width: 800px;
}

.mat-column-result{
    /* flex: 0 20%; */
    margin-right: 10px;
}

.mat-column-mod{
    flex: 0 5%;
    margin-right: 10px;
}

.mat-column-comment{
    flex: 0 20%;
    /* margin-right: 10px; */
}
