<div *ngIf="!loggedIn">
<table>
    <tr>
        <td style="width: 250px;">
            <mat-form-field>
                <input matInput type="text" placeholder="Username" [formControl]="formNewUserControl">
            </mat-form-field>
        </td>
        <td>
            <button mat-raised-button (click)="logIn()">Log in!</button>
            <button mat-raised-button (click)="signUp()">Sign Up!</button>
        </td>
    </tr>

</table>
</div>
<div *ngIf="loggedIn">
    <button mat-raised-button (click)="signOut()" style=" float: right;">Sign Out!</button>
    <h2 style="text-align: center;">
        Welcome: {{username}}
    </h2>
</div>